@tailwind base;
@tailwind components;
@tailwind utilities;
/** custom css table*/
.table-custom {
  @apply w-full;
}
.table-custom th,
td {
  @apply p-4 text-start text-custom1 dark:text-custom5;
}

.table-custom tbody tr {
  @apply border-b  border-gray-300 bg-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700 dark:bg-gray-600 cursor-pointer;
}

.table-custom thead {
  @apply bg-custom4 dark:bg-darkCustom1 font-bold;
}

/** custom scrollbar */
::-webkit-scrollbar {
  @apply w-[10px] rounded-full;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
